@page
@using System.Text.Json
@model UpgradeCalculator.Pages.LandsModel
@{
    ViewData["Title"] = "Lands Upgrade Calculator";
}
<style>
    td {
        padding-left: 5px;
        padding-right: 15px;
    }

    option.Common {
        display: inherit;
    }

    option.Rare {
        display: none;
    }

    option.Epic {
        display: none;
    }

    option.Legendary {
        display: none;
    }

    option.Ultimate {
        display: none;
    }

    option.Used {
        display: none;
    }

    .button {
        padding: 0.6em 2em;
        border-radius: 8px;
        color: #fff;
        font-size: 1.1em;
        border: 2px;
        cursor: pointer;
        margin: 1em;
    }
</style>

<h5>Current resource prices</h5>
