@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This site does not use any cookies or record any non-public information.  The only data that is collected are URLs for diagnostic purposes, and they are not kept for more that 3 days.</p>
