@page
@model UpgradeCalculator.Pages.SetUserModel
@{
    var ru = ViewData["ru"];
    var userId = ViewData["userId"];
}

Please set the user to load in the calculator, e.g. xxxxx.wam<br/>
<form id="f1">
    <label for="waxid">WAX User Id</label><input id="waxid" type="text" value="@userId" /> <input type="submit" value="Set User" formmethod="get" formenctype="application/x-www-form-urlencoded" formaction="@ru"/>
</form>

